
<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mon Application: events{% endblock %}</title>
  <!-- Lien vers le fichier CSS généré par TailwindCSS -->
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
  <header  class="bg-blue-600 text-white p-4">
    <nav class="container mx-auto flex justify-between items-center">
      <ul class="flex space-x-4">
        <li><a href="{% url 'home' %}" class="hover:underline">Accueil</a></li>
        <li><a href="{% url 'signup' %}" class="hover:underline">S'inscrire</a></li>
        <li><a href="{% url 'login' %}" class="hover:underline">Se connecter</a></li>
        <li><a href="{% url 'logout' %}" class="hover:underline">Se déconnecter</a></li>
      </ul>
    </nav>
  </header>

  <main class="container mx-auto p-4">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="bg-gray-800 text-white text-center py-4 mt-8">
    <p>&copy; 2024 Mon Application</p>
  </footer>
</body>
</html>
