
<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mon Application: events{% endblock %}</title>
  <!-- Lien vers le fichier CSS généré par TailwindCSS -->
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li><a href="{% url 'signup' %}">S'inscrire</a></li>
        <li><a href="{% url 'login' %}">Se connecter</a></li>
        <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    <!-- Contenu spécifique aux pages qui héritent de base.html -->
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2024 Mon Application</p>
  </footer>
</body>
</html>
